.filesContainer {
    width: 33.3333333333333333333333333333333333333333333333333vh;
    width: 150vh;
    height: 90vh;
    border-radius: 0.5rem;
    box-shadow: rgba(93, 93, 102, 0.2) 0px 7px 29px 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 1rem;
    overflow: scroll;
    overflow-x: hidden;
    align-content: flex-start;
    padding-left: 2rem;
    z-index: 3;
    background-color: white;
  }

  #filesBody{
    background-image: url("../assets/background.svg") ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    

  }

  .filesDownloadBtn{
    width: 2rem;
  height: 2rem;
  background-color: var(--logo-2);
  border-radius: .5rem;
  cursor:pointer;
}
.filesDeleteBtn{
    width: 2rem;
  height: 2rem;
  background-color: var(--logo-1);
  border-radius: .5rem;
  cursor:pointer;
}
  .fileView{
    width: 5rem;
    height: 8rem;
    margin: 1rem;
    padding: 8px;
  }

  .fileView > img{
    width: 3rem;
    height: 3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    margin-top: .5rem;
  }
  .fileView > span{
    position: relative ;
    left: 20%;
    word-wrap:break-word;
    font-weight: 800;
    font-size: 13px;
    cursor: pointer;


  }