
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spinner infinite 2s linear
  }
}

.spinner{
  width: 10rem;
  height: 10rem;
}



  .container {
    background-color: #282c34;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: transparent;
  }