@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');



#ourteambody     {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--logo-3) 0%, var(--logo-4)100%);
    box-shadow: #d66f1b;
}



.main-container {
    background: #fff;
    border-radius: 15px;
    margin: 1rem;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.ourteamh2 {
    color: var(--black1);
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;

}

hr {
    width: 10rem;
    margin: 10px auto;
}

.members {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    margin: 8px;
    transition: all .3s ease;
    cursor: pointer;
}

.team-member:hover {
    transform: scale(1.1);
}

.ourteamimg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.ourteamh4,
.ourteamp {
    color: var(--black1);
    text-align: center;
    font-size: 12px;
    margin: 7px;
    font-family: "Poppins", sans-serif;

}