@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.pricingContainer {
    background: linear-gradient(var(--logo-2) 0%, var(--logo-3)100%);
    padding-top: 7rem;
    
}

.price-heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem 2rem 5rem;
    background-color: white;
    margin: 0 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: .2s all linear;
    margin-bottom: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.pricing-item:hover {
    transform: scale(1.01);
    box-shadow: 0 1rem 1rem 0rem #753a93;
}

.pricing-item li {
    list-style: none;
}

.pricing-m {
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-bottom: 0rem;
    color: var(--black1);
    font-weight: bold;
}

.pricing-a {
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-top: 0rem;
    color: var(--black1);
    font-weight: bold;
}

.pricing-kit {
    font-size: 1.3rem;
    background-color: skyblue;
    padding: .7rem 1.5rem;
    border-radius: 0 0 2rem 2rem;
}

.pricing-item:hover .pricing-kit {
    box-shadow: 0 0 0 50rem skyblue;
}

.pricing-item:hover .order-btn {
    background-color: skyblue;
    color: white;
    font-weight: bold;
    border-color: white;
}

.pricing-item:hover .pricing {
    color: black;
    transition: .4s linear;
}

.offers li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: var(--black1);   
}

.order-btn {
    border: none;
    border: 2px solid skyblue;
    background-color: transparent;
    color: skyblue;
    cursor: pointer;
    margin-top: 2rem;
    padding: .7rem 1rem;
    border-radius: 2rem;
    font-weight: bold;
}

.order-btn:hover {
    background-color: skyblue;
    color: white;
    font-weight: bold;
    border-color: white;
}

.pricing-kit, .pricing, sup, sub{
    color: var(--black1);

}