@import url(main.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



.Servicecard {
  margin: 01s 2rem 0 2rem;
  position: relative;
  width: 300px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
  transition: .3s;
  background-color: #fff;
}

.Servicecard:hover {
  height: 350px;
  transition: .3s;
}

.Servicecard:hover .content {
  transform: translateY(-170px);
  opacity: 1;
  visibility: visible;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.servicesimg {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-80px);
  background-color: var(--black1) ;
  
}

.content {
  transition: .3s;
  transform: translateY(-350px);
  text-align: center;
  opacity: 0;
  color: var(--black1);
  visibility: hidden;
}

.content h2 {
  color: var(--black1);
  margin-bottom: 0.3rem;
}

.content p{

  color: var(--black1);

}


.main-div {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  

}
.allcontainer{
  background: linear-gradient(var(--logo-1) 0%, var(--logo-2)100%);

}



/*
#containerInfo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.leftContainer{
  width: 25%;
}

.rightContainer{
  width: 75%;
}


.cardTitle, .cardInfo{
  color: black;
}

.leftCard{
  background-color: rgb(255, 255, 255);
  color: rgb(9, 30, 66);
  box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
  border-radius: 0.3rem;
  border: 0px;
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative;
  text-align: left;
  margin: 10px;
}

.leftCard::after{
  background-color: var(--accent);
  border-radius: 0.3rem 0px 0px 0.3rem;
  bottom: 0px;
  content: "";
  left: 0px;
  position: absolute;
  top: 0px;
  width: 0.5rem;
}




.rightPhoto{
  background-image: url('../assets/mainpage/analitics.svg');
}



*/






.tempusMeaning {
  height: 25rem;
  display: flex;
  flex-wrap: wrap;
}

.w {
  background-color: white;
  flex-direction: row;
}

.b {
  background-color: var(--black1);
  flex-direction: row-reverse;
}


.rightMeaning, .leftMeaning {
  margin: 10px;

  padding: 10px ;
  width: 50%;
  position: relative;
}

#one {
  background-image: url(/src/assets/mainpage/chat.svg);
}
#two {
  background-image: url(/src/assets/mainpage/analitics.svg);
}
#three {
  background-image: url(/src/assets/mainpage/freestyle.svg);
}
#four {
  background-image: url(/src/assets/mainpage/teamwork.svg);
}

.photo {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 600px;
}

.textMeaning {
  color: var(--accent);
  position: absolute;
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  line-height: 40px;
  width: 50%;
  padding: 10px 10px 10px 10px;
}

.w > .text > p > .textMeaning {
  
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  border-left: 5px;
  border-left-color: var(--black1);
  border-left-style: solid;
  border-bottom: 5px;
  border-bottom-color: var(--black1);
  border-bottom-style: solid;
  margin: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.b > .text > p > .textMeaning {
  text-align: right;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -50%);
  border-right: 5px;
  border-right-color: white;
  border-right-style: solid;
  border-top: 5px;
  border-top-color: white;
  border-top-style: solid;
  margin: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
