#registerpagecontainer{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500vh;
    flex-direction: column;
    background: #1b1b1b;
}

.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.394);
}

.box::before{
    content: "";
    z-index: 1;
    position:absolute;
    top: -50%; 
    left: -50;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, var(--accent), var(--accent));
    animation: animate 6s linear infinite; 
}

.box::after{
    content: "";
    z-index: 1;
    position:absolute;
    top: -50%; 
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, var(--accent), var(--accent));
    animation: animate 6s linear infinite; 
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.registerform{
    position:absolute;
    inset: 2px;
    background: #1b1b1b;
    padding: 50px 40px; 
    z-index: 2; 
    display: flex;
    flex-direction: column;
}

.registerform .registerh2{
    color: var(--accent);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox .registerinput{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #CACACA;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputBox .registerspan{
    position: absolute;
    left: 0;
    padding: 20px, 0px, 10px;
    pointer-events: none;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 0.05;
    transition: 0.5s;
}

.inputBox .registerinput:valid ˜span, 
.inputBox .registerinput:focus ˜ span{
    color: var(--accent);
    transform: translateX(0px)
    translateY(-34px);
    font-size: 0.75em;
}

.inputBox .registeri{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent);
    border-radius: 4px; 
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox .registerinput:valid ˜ i,
.inputBox .registerinput:focus ˜ i{
    height: 44px;
} 

.links .registera{
    margin: 10px 0;
    font-size: 0.25em;
    color: #8f8f8f;
    text-decoration: beige;
}

.links .registera:hover, 
.links .registera:nth-child(2){
    color: var(--accent);
}

.registerinput[type="submit"]{
    border: none;
    outline: none;
    padding: 11px 25px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    background: var(--accent);
    width: 5px;
    margin-top: 10px;
}

.regieterinput[type="submit"]:hover{
    box-shadow: 0 0 5px var(--accent), 
                0 0 25px var(--accent), 
                0 0 50px var(--accent), 
                0 0 100px var(--accent);  
}