/* importando el font de google - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@49@;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.uploader_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
    background: #5956E9;
}

.uploader_box{
    max-width: 500px;
    background: #1c1c1c;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; 
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.uploader_upload-are-title{
    color: #5956E9;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.uploader_uploadlabel{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #5956E9;
    cursor: pointer;
}

.uploader_uploadlabel span{
    font-size: 70px;
    color: #5956E9;
}

.uploader_uploadlabel p{
    color: #5956E9;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
}

.uploader_uploaded{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5; 
}

.uploader_showfilebox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px,
    #d1d5db3d 0px 0px 0px 1px inset;
}

.uploader_showfilebox .left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
}

.uploader_filetype{
    background: #5956E9;
    color: #ffff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.uploader_left h3{
    font-weight: 600;
    font-size: 18px;
    color: #a5a5a5;
    margin: 0;
}

.uploader_right span{
    background: #5956E9;
    color: #ffff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; 
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}