*{
    /*Colores del logo en sentido de las manecillas del color*/ 
--logo-1: #F52E4D;
--logo-2: #F29100;
--logo-3: #B15ED8;
--logo-4: #1E51F9;
--accent: #5956E9;
--primary: #FFFFFF;
--secondary: #5956E9;
} 


