*{  
    /*Colores del logo en sentido de las manecillas del color*/ 
--logo-1: #F52E4D;
--logo-2: #F29100;
--logo-3: #B15ED8;
--logo-4: #1E51F9;
--accent: #5956E9;
--primary: #FFFFFF;
--color1: #EA8C04;
--color2: #9E54CE;
--color3: #04047C;
--color4: #5E4DAB;
--color5: #A3A3CF;
} 



