@import url(main.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.uppercols {
  height: 25rem ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.uppercols > div {
  width: 50%;
}
.uppercols > .left {
  background: rgb(89, 86, 233);
  background: linear-gradient(
    197deg,
    var(--color2) 35%,
    var(--color3) 100%
  );
}
.uppercols > .right {
  background-image: url('../assets/mainpage/frst.jpg');
  image-rendering: optimizeSpeed;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;;
}

span > p {
    top: 50%;
    left: 50%;
    transform: translate(0,50%);
  width: 50%;
  color: #ffffff;
  text-align: left;
  text-transform: capitalize;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.5rem;
  line-height: 1.5rem;
}





.right > img {
    height: auto;
    width: auto;

}




.button-36 {
    top: 50%;
    left: 50%;
    transform: translate(0,100%);
  font-family: 'Ubuntu Mono', monospace;
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.3rem;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
